<!DOCTYPE html>
  <div class="allSections">
    <div class="header">
      <h1>Registration numbers</h1>
    </div>
  <form action="/registration" method="POST">

    <div class="row sectionOne" id="input">
      <div class="col-md-12" id="heading">
        <b>Reg Numbers:</b><input type="text" name="inputName" class="Name"></input>    
        <hr>
      </div>
      </div>
    <div class="row buttons">
      <div class="col-md-12" id="Add">
      <button type="submit" class="btn-success"value= "ADD">ADD</button>
      <button type="reset" class="btn-success"value= "Reset">Reset</button>
      </div>
  </div>
  </form>

  <div class="row">
    <div class="col-md-12">
          {{!-- <h3><b>Select Towns</b></h3> --}}
        <select id="Select" name="towns" onchange="selectTown()" >
          <option  value="alltowns">Select Towns</option>
          <option  value="alltowns">All towns</option>
          <option value="CA" href="/CA">CapeTown</option>
          <option value="CAW" href="/CAW">Paarl</option>
          <option value="CY"href="/CY">George</option>
          <option value="CJ"href="/CJ">Stellenbosch</option>
        </select>
    </div>
  </div>

<div class="row">
  <div class="col-md-12 displayReg">
    <ul class="display">
       {{#each regs}}
          <li class="col-md-2 reg">{{reg}}</li>
      {{/each}}
    </ul>
     
  </div>
</div> 
 

  <div class="entryOne">
      <span class="">{{message.entryOne}}</span>
  </div>
  <div class="entryTwo">
      <span class=""> {{message.entryTwo}}</span>
  </div>
  <div class="entryThree">
      <span class=""> {{message.entryThree}}</span>
  </div>
    <div class="registration"></div>
   
  </div>

  </div>

  <script>
    function selectTown(){
    let selectElem=document.querySelector('#Select');
     console.log(selectElem.value);
     location.href='/filter/'+selectElem.value;
    }
  </script>
