<!DOCTYPE html>
<div class="allSections">
  <div class="header">
    <h1>Registration numbers WebApp</h1>
  </div>
  <form action="/registration" method="POST">
    <div class="row sectionOne" id="input">
      <div class="col-md-12" id="heading">
       Reg Numbers</b><input type="text" name="inputName" class="Name"pattern="[A-Z]{2,3}\s\d{3}\W\d{3}"</input>
               <button type="submit" class="btn-success" value="ADD">ADD</button>

       </div>
      </div>  
  </form>
   <hr>

  <div class="row select">
    <div class="col-md-12">
      <select id="Select" name="towns" onchange="selectTown()">
        <option value="alltowns">Select Towns</option>
        <option value="alltowns">All towns</option>
        <option value="CA">CapeTown</option>
        <option value="CAW">Paarl</option>
        <option value="CY">George</option>
        <option value="CJ" >Stellenbosch</option>
       
      </select>

      <a href="/reset"><button type="button"class="btn-success">Reset</button></a>
    </div>
  </div>
  
  <div class="row">
    <div class="displayReg">
        {{#each regs}}
         <div class="display">
          {{reg}}
          </div>
        {{/each}}
    </div>
  </div>

  <div class="entryOne">
    <h2>
      <span class="">{{messages.entryOne}}</span>
    </h2>
  </div>
  </div>

<script>
  function selectTown() {
    let selectElem = document.querySelector('#Select');
    console.log(selectElem.value);
    location.href = '/filter/' + selectElem.value;
  }
</script>