<!DOCTYPE html>
<div class="allSections">
  <div class="header">
    <h1>Registration numbers WebApp</h1>
  </div>
  <div class="entryOne">
    <h2>
      <span class="">{{messages.entryOne}}</span>
    </h2>
  </div>
  <form action="/registration" method="POST">
    <div class="row sectionOne" id="input">
      <div class="col-md-12" id="heading">
       <b>Reg Numbers:</</b><input type="text" name="inputName" class="Name"pattern="[A-Z]{2,3}\s\d{3}\W\d{3}"</input>
     
      <button type="submit" class="btn-success" value="ADD">ADD</button>

       </div>
      </div>  
  </form>
   <hr>
  <div class="row select"id="filt">
    <div class="col-md-12">
      
      <select id="Select" name="towns" onchange="selectTown(this.value)">
        <option name="towns" value="all">All Towns</option>
        {{#each towns}}
        <option name="towns" value="{{initials}}">{{town_name}}</option>
        {{/each}}
      
      </select>
      <a href="/reset"><button type="button"class="btn btn-danger btn-lg"id="move">RESET</button></a>
    </div>
  </div>
  
  <div class="row">
    <div class="displayReg">
        {{#each regs}}
         <div class="display">
          {{reg}}
          </div>
        {{/each}}
    </div>
  </div>

   <div class="footer">
      <h2>Copyright &copy; 2018. <em>Developed by Ziyanda Ndlamafa</em> </h2>
    </div>
  
  </div>

<script>
  function selectTown(value) {
    location.href = '/filter/' + value;
  }
</script>