<!DOCTYPE html>

<div class="row">

  <form action="/registration" method="POST">

    <div class="row" id="input">
      <div class="four columns">
        <h3>Reg Numbers:</h3><input type="text" name="inputName" class="Name"></input>    
      </div>
      
        <div class="four columns">
        <h3>Towns:</h3>
        <select id="Select" name="towns" onchange="selectTown()" >
          <option value="alltowns" href="/alltowns">All towns</option>
          <option value="CA" href="/CA">CapeTown</option>
          <option value="CAW" href="/CAW">Paarl</option>
          <option value="CY"href="/CY">George</option>
          <option value="CJ"href="/CJ">Stellenbosch</option>
        </select>
      </div>
      </div>
      <br>

    <div class="row">
      <div class="three columns">
      <button type="submit" class="AddBtn" value="ADD"id="btnAdd">ADD</button>
      </div>
      <div class="three columns">
    <a href="/reset"><input type="button" name= "Reset"value="Reset"id="btnAdd" class="Reset"> </a>
  </div>
  </div>
  </form>
 {{#each regs}}
    <div class="display">{{reg}}</div>
      {{/each}}

  <div class="entryOne">
      <span class="">{{message.entryOne}}</span>
  </div>
  <div class="entryTwo">
      <span class=""> {{message.entryTwo}}</span>
  </div>
  <div class="entryThree">
      <span class=""> {{message.entryThree}}</span>
  </div>
    <div class="registration"></div>
   
  </div>

  <script>
    function selectTown(){
    let selectElem=document.querySelector('#Select');
     console.log(selectElem.value);
     location.href='/filter/'+selectElem.value;
    }
  </script>
