<div class="row">
  <table class="table-bordered">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Towns</th>
      <th scope="col">Registration numbers</th>
      
      
    </tr>
  </thead>
  <tbody>
    {{#each database}}
    <tr>
      <td>{{town_id}}</td>
      <td>{{town_name}}</td>
      <td>{{reg}}</td>

    </tr>
  {{/each}}
  </tbody>
  </table>
  <a href ="/">home</a>
</div>