* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media only screen and (max-width: 800px) {
  body {
   
  }
}
  
  .display {
    border: 3px solid black;
    border-radius: 10px;
    background-color: rgb(218, 203, 5);
    width: 10em;
    height: 100%;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    margin-left: 30px;
    
  }

.allSections {
  text-align: center;
  background-color: silver;
}

.sectionOne h {
  text-align: center;
  font-size: 3em;
}

.header {
  background-color: blueviolet;
  padding: 5em;
}
.header h1 {
  font-size: 5em;
  font-family: cursive;
  font-stretch: expanded;
  color: rgb(6, 88, 17);
}
#heading {
  text-align: center;
  margin-top: 3em;
  text-decoration: rgb(179, 67, 67);
  font-size: 2em;
}
#buttons{
  margin-top: 3em;
  text-align: center;
  font-size: 3em;

}

.entryOne{
  color: #F54D32;
  margin-top: 2em;
}
.displayReg{
  margin-top: 12em;
}
.select{
  padding: 20px;
}
#move{
  margin-left: 30px;

}
.footer{
  background-color: blueviolet;
  padding: 1em;
  color: rgb(6, 88, 17);
  margin-top: 5em;
}